# This is a CODEOWNERS file. See https://help.github.com/articles/about-codeowners/
# Ansys Zemax Programming Library Maintainers will be requested for
# review when someone opens a pull request.
*  @egkeeler-ansys @ALCuller